{% extends 'base.html' %}

{% block content %}

<h1>Log in</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Log in">
</form>
<a class="btn btn-primary" href="/" role="button">Back</a>

{% endblock %}