{% extends 'base.html' %}

{% block content %}

<h1>Register</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Register">
</form>

{% endblock %}