{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Hello, {{ user.username }}!</h1>
    <a class="btn btn-primary" href="/logout/" role="button">Log out</a>
{% else %}
    <h1>You are not logged in.</h1>
    <a class="btn btn-primary" href="/login/" role="button">Log in</a>
    <a class="btn btn-primary" href="/register" role="button">Register</a>
{% endif %}

{% endblock %}